.signinCont{
  
position: fixed;
width: 48vw;
left: 25vw;
top: 15vh;

background: #FFFFFF;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
border-radius: 8px;

z-index: 2;
}

@media all and (max-width: 1120px){
  .signinCont{
    width: 55vw;
    /* height: 50vh; */
    margin-top: 100px;
    margin-left: 25%;
    transform: translateX(-50%);
  }
}
@media all and (max-width: 1000px){
  .signinCont{
    width: 60vw;
    margin-top: 100px;
    margin-left: 25%;
    transform: translateX(-50%);
  }
}
@media all and (max-width: 800px){
  .signinCont{
    width: 70vw;
    margin-top: 100px;
    margin-left: 25%;
    transform: translateX(-50%);
  }
}

.overlay{
  cursor: default;
  background: black;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.close{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
top: -50px;
right: -15px;
width: 28px;
height: 28px;
border-radius: 50%;
text-align: center;
font-size: 20px;
background: #FFFFFF;
color: rgba(0, 0, 0, 0.55);
}

.signHeader{
    height: 50px;

    cursor: default;
background: #EFFFF4;
border-radius: 8px 8px 0px 0px;
}

.signHeader p{
    padding: 17px 58px;
    font-style: normal;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    color: #008A45;
}

.signinContainer{
    display: flex;
    margin: 20px 24px;
}
.left,.right{
    width: 50%;
    padding-bottom: 26px;
    cursor: default;
}



.left h2{
    margin-bottom: 12px;
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
text-align: left;

color: #000000;
}

input[type=text] {
    
    transition: ease-in-out, width .35s ease-in-out;
    width: 50%;
    height: 36px;
    outline: none;

    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
  }

  input[type=email]
  {
    width: 100%;
    height: 36px;
    outline: none;

    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
  }

  input[type=password]{
    width: 100%;
    height: 36px;
    outline: none;

    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px 2px 0px 0px;
  }

  .createAcc button{
      cursor: pointer;
      margin-top: 15px;
    padding: 7px 0;
    width: 100%;
    background: #2F6CE5;
border-radius: 20px;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;
border: none;
outline: none;
color: #FFFFFF;
  }

  .facebook{
      margin-top: 15px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    background: #FFFFFF;
    padding: 5px 0;
    border: 0.6px solid #D9D9DB;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .facebook span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin-left: 10px;
    
    color: #000000;
  }

  .google{
    margin-top: 6px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  background: #FFFFFF;
  padding: 5px 0;
  border: 0.6px solid #D9D9DB;
  box-sizing: border-box;
  border-radius: 2px;
}

.google span{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 114% */
  margin-left: 10px;
  
  color: #000000;
}

.sign button{
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    padding: 7px 0;
    background: #2F6CE5;
border-radius: 20px;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: center;
border: none;
outline: none;
color: #FFFFFF;
}

.right h4{
    margin-top: 6px;
    text-align: end;
    font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
/* identical to box height */

text-align: right;

color: #3D3D3D;
    
}

.right img{
    width: 100%;
    height: 86%;
}

.right p{
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 16px;
    /* identical to box height, or 145% */

    text-align: end;
    letter-spacing: -0.008em;

    color: #000000;

    opacity: 0.6;
}


.fade{
    display: none !important;
}

.signedin{
  width: 100%;
  text-align: center;
  background:  lightgreen;
  padding: 8rem;
  color: white;
  margin: 2rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

.phone{
  display: none;
}

.desc{
  display: none;
}


@media all and (max-width: 741px){

  .signinCont{
    width: 100%;
    height: 100%;
  }

  .desc{
    display: block;
    font-size: 15px;
  }

  .signinContainer{
    flex-direction: column;
  }

  .close{
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    
  }

  .right{
    display: none;
  }

  .left{
    width: 100%;
  }

  .createAcc button,.sign button{
    margin-top: 32px;
    width: 50%;

  }

  .facebook, .google{
    padding: 5px 0;
    height: 38px;
  }

  .facebook img, .google img{
    width: 16px !important;
    height: 16px !important;
  }

  .signup h2,.signin h2{
      margin-bottom: 20px;
  }

  .phone{
    width: 45%;
    display: inline-block;
    cursor: pointer;
    font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
/* identical to box height */

text-align: right;
text-decoration-line: underline;

color: #495057;
  }

  .signHeader{
    display: none;
  }

  
.signedin{
  width: 50%;
  margin-top: 100px;
}

}